<div class="container">
    <h1>Welcome to Sinking Ships</h1>
    <img class="rounded mx-auto d-block" src="/images/ship.png">
    <p>
        This is a multiplayer version of the classic Battleships game. 
        You can play this game with your friends or with a random player on the internet. 
        Get started by <a href="/register">registering to our website!</a>
    </p>
    <img class="rounded mx-auto d-block" src="/images/pvp.png">
    <p>
        Join our PvP's Matches and try to reach the highscore. Be the true strategic lord! 
    </p>
    
</div>