<div role="main" class="container">
        <h1>Login</h1>
        <%- include('partials/messages') %>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" placeholder ="Enter your Email.." name="email">
                <small id="emailHelp" class="form-text text-muted" style="display: none;">Please insert a valid email.</small>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder ="Enter your Password..." name="password">
            </div>
            <button type="submit" class="btn btn-primary" id="submit">Login</button>
        </form>
        <div style="margin-top: 5px;">
            <p>Don't have an account? <a href="/register">Go to Register</a></p>
        </div>
</div>
<script src="/scripts/login.js"></script>